<% include ../partials/header %> 
 <div>   
    <% if(currentUser && currentUser.isAdmin) { %>
    <h1>Admin User!</h1>
    <% } %>    
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome to The Cook Grimoire!</h1>
             <p>View all recipes submitted by our users!</p>
             <p>
                <a class="btn btn-primary btn-large" href="/recipes/new">Add New Recipe</a>
             </p>
             <p>
              <form action="/recipes" method="GET" class="form-inline" id="recipe-search">
                <div class="form-group">
                  <input type="text" name="search" placeholder="Recipe search..." class="form-control">
                  <input type="submit" value="Search" class="btn btn-default">
                </div>
              </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center">
        <% recipes.forEach(function(recipe){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                  <img class="card-img-top" src="<%= recipe.image %>" alt="<%= recipe.name %>">
                  <div class="card-body">
                    <h5 class="card-title"><%= recipe.name %></h5>
                    <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">More Info</a>
                  </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>